h1	{
        	
    color:purple;
    font-size:30pt;


}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:15px;
	color:black;
	border-width:2px;
	border-color:green;
    border-collapse:green;
    margin:25px
}

table.gridtable td {
	border-width:2px;
	padding: 8px;
	border-style: solid;
	border-color:black;
	background-color:salmon;
}